html,
body,
#root {
  margin: 0;
  min-height: 100vh;
}

.page-title {
  text-align: center;
  color: #4f46e5;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 30px 0 -200px 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(135deg, #fdf2f8, #eef2ff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}